<section id="appstore-create-merge-request" class="appstore__page page__create-merge-request">
    <div id="train_project_name">
        <p style="text-align: center;">Official Train Store Branch Selected:&nbsp;<span id="ofc_branch" style="font-weight: bold;"></span></p>
        <p style="text-align: center;">Official Train Store Project Name:&nbsp;<span id="ofc_project" style="font-weight: bold;"></span></p>
        <p style="text-align: center;">Merge Request (MR):&nbsp;<span id="source_to_dest_branch" style="font-weight: bold;"></span></p>
    </div>
    <div class="git_info">
        <table id="git_table">
            <tbody>
                <tr>
                    <td><label for="mr_title" class="label_mr_title">Merge Request Title <span style="color:red">*</span></label></td>
                    <td><textarea id="mr_title" name="mr_title" class="mr_title" rows="5" cols="40"></textarea></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
