<section id="appstore-show-mr" class="appstore__page page__show-mr">
    <div id="git-mr-loading" style="display: none;">
        <img src="images/loading.gif" />
    </div>
    <div class="git_mr_info">
        <table id="git_mr_table">
        </table>
    </div>
    <div id="delete_mr_message">
        <p><span style="font-weight: bold;">Instructions:&nbsp;</span></p>
        <ul>
            <li>Follow <b>MR URL</b> hyperlink to view the merge request on GitLab.</li>
            <li>To <b>Delete Merge Request</b>, use GitLab interface: <b>Close merge request</b>.</li>
            <li>To merge MR, click on <b>Merge MR</b> button on the right.</li>
        </ul>
    </div>
</section>
