<section id="appstore-select-train-store" class="appstore__page">
  <div>Select Train Store to Browse:</div>

  <br />

  <form id="train-store-form">
    <label for="incremental-learning">
      <input
        type="radio"
        id="incremental-learning"
        name="train-store"
        value="incremental-learning"
        checked
      />
      Incremental Learning Train Store
    </label>
    <br />

    <label for="federated-learning">
      <input
        type="radio"
        id="federated-learning"
        name="train-store"
        value="federated-learning"
      />
      Federated Learning Train Store
    </label>
    <br />
  </form>

  <br />
</section>
