<section
  id="appstore-show-train-content"
  class="appstore__page page__show-train-images"
>
  <div>
    <p style="text-align: center">
      Select one of the following Train images by clicking
      <b>Know More</b> to view the summary and user feedback.
    </p>
  </div>
  <div id="train_project_content">
    <p style="text-align: center">
      Official Train Store Branch Selected:&nbsp;<span
        id="train_content_branch"
        style="font-weight: bold"
      ></span>
    </p>
    <p style="text-align: center">
      Official Train Store Project Name:&nbsp;<span
        id="train_content_project"
        style="font-weight: bold"
      ></span>
    </p>
  </div>
  <div id="no_train_content_div" style="display: none">
    <p style="text-align: center">
      No train images are published in this project in this branch!!!
    </p>
  </div>
  <div class="train-images-grids" id="train-content-grids"></div>
</section>
