<section id="appstore-final" class="appstore__page page__final">
  <div id="git-mr-loading" style="display: none;">
      <img src="images/loading.gif" />
  </div>
  <div id="final_details">
        <p style="text-align: center;">MR URL:&nbsp;<a id="mr_url" target="_blank" rel="noopener noreferrer"></a></p>
        <p style="text-align: center;">MR Updated At:&nbsp;<span id="mr_time" style="font-weight: bold;"></span></p>
    </div><br>
  <div>
    <img src="images/thanks.png" />
  </div> <br> <br>
  <div>Click on <b>Logoff</b> to exit the platform...</div>
</section>