const API_ENDPOINT = "{{ config.API_APPLICATION_ROOT }}";
const KC_REALM = "{{ config.KC_REALM }}";
const KC_URL = "{{ config.KC_URL }}";
const KC_CLIENT_ID = "{{ config.KC_CLIENT_ID }}";
const GITLAB_URL = "{{ config.GITLAB_URL }}";

export {
    API_ENDPOINT,
    KC_REALM,
    KC_URL,
    KC_CLIENT_ID,
    GITLAB_URL
}