<section id="wizard-import-req" class="wizard__page page__import-req">
  <div>
    <img src="images/import-symbol.png" />
  </div>
  <div>Upload a requirements file</div>
  <input type="file" id="import-req-file" name="file" style="display:none;">
  <label for="import-req-file" class="page__import-req-btn">Select file</label>
  <div id="import-req-filename" class="page__import-req-filename"></div>
  <div id="import-req-error"></div>
  <div id="import-req-loading" style="display: none;">
    <img src="images/loading.gif" />
  </div>
</section>