<section id="wizard-gitlab-authentication" class="wizard__page">
  <div id="register_page" style="max-width: 500px; margin: auto">
    <h2>Logon to PHT Train Creation Wizard</h2>

    <div class="input-container">
      <!-- <i class="fa fa-user icon"></i> -->
      <input
        class="input-field"
        type="text"
        placeholder="GitLab Username"
        name="usrnm"
        id="usrnm"
      />
    </div>

    <div class="input-container">
      <!-- <i class="fa fa-key icon"></i> -->
      <input
        class="input-field"
        type="text"
        placeholder="Personal Access Token"
        name="psw"
        id="psw"
      />
    </div>
    <br />

    <label for="import-dockerfile-file" class="page__gitlab-btn" id="login-btn">
      Login
    </label>

    <label for="import-dockerfile-file" class="page__gitlab-btn" id="helpModal">
      Instructions
    </label>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Instructions:</h3>
        <ul>
          <li>Please use your Depot GitLab username.</li>
          <li>
            Create and provide a personal access token with <b>api</b> scope in
            <i>Preferences > Access Tokens</i> path.
          </li>
          <li>
            Once provided, the token will be stored server side so you do not
            have to enter it every time. You may revoke the token anytime.
          </li>
        </ul>
      </div>
    </div>

    <div id="auth-loading" style="display: none">
      <img src="images/loading.gif" />
    </div>
  </div>
</section>
