# Configuration files
.eslint*
*.yml
renovate.json
Dockerfile.dev
.husky/*

# Environment files
.env*

# Node.js
node_modules
npm-debug.log

# Project files  
wizard-frontend/node_modules
station-frontend/node_modules
StationDeploymentFiles/*

# Misc
Deployment_Guidance_of_Station_Software.docx
